.instruction_material{
    margin: auto;
    width: 95%;
}

.instruction_material_all{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instruction_material_btn_1{
margin-right: 10px;
}
.instruction_material_btn_2{
    margin-left: 10px;
}